*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;

}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
body{
    background-color: var(--background)
}
html {
  font-size: 100%; /* svarer til 16px, men respekterer brugerens valg */
}


:root {
  --background: #FFF3E5;
  --box: #C24728;
  --scroll: #D17255;
  --cta: #53443A;
  --white: white;
}
/* ------- Navigation ------- */.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.skip-link {
  position: absolute;
  top: -100px;
  left: 1rem;
  background-color: var(--cta);
  color: var(--white);
  padding: 0.75rem 1rem;
  z-index: 1000;
  text-decoration: none;
  border-radius: 8px;
}

.skip-link:focus {
  top: 1rem;
}
.topnav ul {
  display: flex;
  align-items: center;
  gap: clamp(0.5rem, 1.5vw, 0.9rem);
  margin-left: auto;
    list-style-type: none;
    text-decoration: none;
}
  .topnav {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
  }

  /* Burger helt til venstre */


  /* Logo i midten */
  .logo {
    margin: 0 auto;
    max-width: 120px;
  }
  .logo img{
   width: clamp(6rem, 18vw, 10rem);
    max-width: 100%;
    }
    .navimg img{
  width: clamp(3rem, 5vw, 2rem);
  
}


  /* Stadig skjul tekst-links */
  .link-text {
    display: none;
  }
  .menu-knap {
    margin-right: 1em;
      margin-right: 1em;

  background: var(--cta);
  padding: clamp(0.8rem, 2.5vw, 1.2rem);
  border: none;
  border-radius: .4em;

  font-size: clamp(3rem, 4vw, 2rem);
  line-height: 1;

  color: var(--white);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  }
.forside hr{
  color: var(--box);
  border-bottom: solid 4px var(--box);
}

#menu {
  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;
  background: var(--white);
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

  padding-block: 0.5rem;
  padding-left: 2em 2em;  
  display: none;
  z-index: 1000;
}

#menu.open {
  display: grid;
}
#menu a{
  text-decoration: none;
  color: #000;

  padding: clamp(1rem, 2vw, 1.2rem) 1.5rem;
  border-radius: 0;

  font-size: clamp(2rem, 5vw, 1.2rem);
}

#menu a:hover{
  background: #eee;
}
h1{
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h2, h3, h4, h5{
    font-family: "fatfrank", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.knap-om-os{
    font-family: "fatfrank", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p{
font-family: "poppins", sans-serif;
font-weight: 400;
font-style: normal;
}
/* ------- Herosektion ------- */
.hero-boks{
    background-color: var(--box);
    color: var(--white);
    text-transform: uppercase;
    text-align: center;
    align-content: center;
    font-size: 2em;
    padding: 2em;
}

.hero-boks a{
    display: inline-block;
    font-size: 0.7em;
    margin-top: 1em;
    text-decoration: none;
    color: var(--white);
    background-color: var(--cta);
    padding: 0.8em;
    text-transform: uppercase;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        font-family: "fatfrank", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.hero-banner img{
    width: 100%;
}

/* ------- Kategorier ------- */
.kategorier{
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 1em 1em;
}

.kategori-boks{
    margin-bottom: 3em;
    height: 600px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    
    
}


a{
  text-decoration: none;
}
.hero-knap{
  background-color: var(--cta);
  transition: 200ms ease-in;
}

.kategori-boks h2{
    background-color: var(--box);
    color: var(--white);
    font-size: 3.5em;
    text-align: center;
    margin-bottom: 10%;
    padding: 1em;
    text-transform: uppercase;
}


/* Billeder */
.kategori-boks:nth-child(1){
    background-image: url(img/garnreol.png);
    background-size: cover;
}
.kategori-boks:nth-child(2){
    background-image: url(img/helle.png);
    background-size: cover;
}
.kategori-boks:nth-child(3){
    background-image: url(img/æg.png);
    background-size: cover;
}


/* ------- Beskrivelse ------- */
.beskrivelse{
    color: var(--cta);
    display: flex;
      margin: 0;
  padding: 5em;
    gap: 3em;
   
}

.beskrivelse h3{
    text-transform: uppercase;
    color: var(--box);
    font-size: 2.7em;
    text-align: center;
}
.beskrivelse-undersektion{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  flex: 1;
}
.beskrivelse-undersektion img {
  height: 250px;
  margin-bottom: 1rem;
  object-fit: contain;

}

.beskrivelse section{
    flex: 1; /* Alle kolonner fylder lige meget */
}

.beskrivelse p{
    margin: 1em 0;
    font-size: 2em;
}
.gem-tekst{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
/*Sektion Bryder*/
.sektion-bryder{
  display: block;
  margin: auto;
  width: 80%;
}

/* Knap - Om os */
.knap-om-os{
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8em;
    color: var(--white);
    background-color: var(--cta);
    padding: .5em 2em;
    display: block;
    border-radius: 30px;
    margin: 0 1em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

/* ------- Scroll bar ------- */

.horisontal{
    padding: 3em 0;
    background-color: var(--scroll);
    margin-bottom: 3em;
}
.horisontal {
  max-width: 100vw;
  overflow: hidden;
}
.scrollx{
  display: flex;
  gap: 2em;
  overflow-x: auto;
  padding: 4em 2.5em;
  scrollbar-width: none;
}

.scrollx h3{

  /* background: #C24728 70%;   */
  background-color: rgba(194, 71, 40, 0.7);
  color: var(--white);
  width: 50vw;
  padding: 1em 0em;
  text-align: center;
  
  font-size: 3em;
  margin: 0;
}
.scrollx::-webkit-scrollbar {
  display: none;
}
.scrollx a{
    color: var(--white);
    display: flex;
    
}
.scroll-wrapper {
  overflow-x: hidden;   /* stopper læk */
  width: 100%;
}
.scroll-controls{
  display: none;
}
.one-img{
  position: relative;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  width: 70vw;
  border-radius: 20px;
  overflow: hidden; 
  background-image: url(img/close-up-wool-texture-design.jpg);
  background-size: cover;
    
}
.two-img{
  position: relative;   
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  width: 70vw;
  border-radius: 20px;
  overflow: hidden; 
  background-image: url(img/craft-billede.jpg);
  background-size: cover;

}
.three-img{
  position: relative;   
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  width: 70vw;
  border-radius: 20px;
  overflow: hidden; 
  background-image: url(img/haeklet.lys.jpg);
  background-size: cover;
}
.four-img{
  position: relative;   
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  width: 100vw;
  border-radius: 20px;
  overflow: hidden; 
  background-image: url(img/marbels.png);
  background-size: cover;
  height: 35vh;  
} 

/* ------- Studierabet ------- */
.rabat{
    background-color: var(--box);
    color: var(--white);
    padding: 2rem;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    max-width: 100%;
}

/* ------- Månedens udvalgte ------- */
h4{
    color: var(--box);
    font-family: "fatfrank", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 1em 0;
    font-size: 3.75rem;
}

.udvalg-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
    margin: 4em;
    list-style: none;

}

.udvalg-container img{
    width: 100%;
    border-radius: 30px 30px 0 0;
    display: block;
}
.udvalg-container li{
  height: 540px;
  background-color: var(--white);
  color: var(--cta)
}
.udvalg-container h5{
  color: var(--box);
  font-size: 2em;
}

.kob-knap{
  background-color: var(--cta);
  color: white;
  padding: 1em 1em;
  border-radius: 30px;
  font-family: "fatfrank", sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: 200ms ease in;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border: none;
}
.bund-udvalg{
  margin-top: 2.4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.pris{
  font-family: "fatfrank", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.udvalg-container img {
  width: 100%;
  height: 380px;        /* justér efter Figma */
  object-fit: cover;
  display: block;
}
.udvalg-container li h5,
.udvalg-container li .undertekst,
.udvalg-container li .bund-udvalg  {
  padding-left: 1rem;
  padding-right: 1rem;
}
.udvalg-container li{
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

/* ------- Footer ------- */

footer {
    background: var(--box);
    color: white;
    padding: 2em 1.2em;
}

/* ------- Nyhedsbrev ------- */
.nyhedsbrev p {
    font-size: 1rem;
    margin-bottom:0.3em;
}

.nyhedsbrev form {
  display: flex;
  position: relative;
}

.nyhedsbrev input {
  width: 30%;
  padding: 0.8em 3em 0.8em 0.8em; /* plads til pilen */
  border-radius: 10px;
  border: none;
  background-color: #972a0f;
  
}
.nyhedsbrev input::placeholder{
  color: white;
}

.nyhedsbrev button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background: #ffffff;
  color: #972a0f;
  

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;

  top: 50%;
  left: 13.5em;
  transform: translateY(-50%);
  cursor: pointer;
}
.nyhedsbrev .mail-knap p{
  font-size: 1.8em;
  margin: 0 auto;
}
.nyhedsbrev h3{
  font-family: "poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}
.mail-knap .arrow {
  font-size: 1.5rem; /* JUSTER HER */
  line-height: 1;
}
/* ------- Sociale medier ------- */
.social {
    margin-top: 2em;
    
}
.social p{
      font-family: "poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.ikoner {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-top: 0.5em;
}

.ikoner img {
    width: 30px;
}

/* Kontakt */
.kontakt {
    margin-top: 2em;

}

/* Åbningstider */
.Tider { 
    margin-top: 1.5em;  
}

.Tider h3 {
    margin-bottom: 0.5em;
}
.kontakt img{
 max-width: 5%;
 padding-right: .6em;
}
 /*Bundlinje*/
.bottum {
  grid-column: 1 / -1;
  color: var(--background);
  padding: 2em 1em;
  border-top: 1px solid rgba(255,255,255,0.3);
  font-size: 0.8rem;
  background: var(--cta);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
  width: 100%;
}
 



 @media(min-width: 769px){
  /* Navigation */

  #menu, .menu-knap{
  display: none;
}

.link-text{
  display: flex;
}
.link-text a{
  text-decoration: none;
  color: var(--cta);
  font-family: "fatfrank", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0px 1.5em;

  font-size: clamp(1.4rem, 4vw, 2em);
  transition: 200ms ease-in;
}
.link-text a:hover{
  transform: scale(1.1);
}
.link-text-end{
  padding-right: 2em;
}
.navimg img{
  width: clamp(3rem, 5vw, 2rem);
}
.navimg img:hover, .kob-knap:hover, .knap-om-os:hover, .hero-knap:hover{
  transform: scale(1.1);
}
  /* Herosektion */
  .hero-banner{
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .hero-boks{
    width: 50%;
    padding: 5rem;
    font-size: 35px;
  }

  .hero-banner img{
    width: 50%;
}

  /* Kategorier */
.kategorier{
    width: 100%;
    padding: 60px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.kategori-boks{
    width: 25%;
    height: 60vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    column-gap: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 200ms ease-in;
}
.kategori-boks:hover{
  transform:scale(1.1);
}
.kategori-boks h2{
    background-color: #C24728;
    color: white;
    font-size: 2em;
    text-align: center;
    margin-bottom: 10%;
    padding: 1em;
    text-transform: uppercase;
    
}
/* Beskrivelser */
.beskrivelse{
    flex-direction: row;

}

.scroll-controls {
  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: center;
  gap: 1rem;
}

.scroll-btn {
  background-color: var(--cta);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.size {

  height: 90vh;
  display: flex;
  justify-content: center; /* vandret */
  align-items: center;     /* lodret */
}

.rabat{
  font-size: 3.5rem;
}
.udvalg-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 20px;
    margin: 4em;
    width: 80%;
    margin: auto ;
    padding-bottom: 4em;
}

.udvalg-container img{
    width: 100%;
    border-radius: 30px 30px 0 0;
    display: block;
    
}
.udvalg-container li{
  background-color: var(--white);
  color: var(--cta);
  height: 950px;
  border-radius: 30px;

}
.udvalg-container h5{
  color: var(--box);
  font-size: 2em;
  margin-top: .8em;
}
.kob-knap{
  background-color: var(--cta);
  color: white;
  padding: .5em 1.2em;
  border-radius: 30px;
  font-family: "fatfrank", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
}
.bund-udvalg{
  margin-top: 4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.bund-udvalg p{
  font-size: 2em;
  color: var(--cta);
}
.undertekst{
  font-size: 1.2em;
}
.pris{
  font-family: "fatfrank", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.udvalg-container li img {
  width: 100%;
  height: 700px;        /* justér efter Figma */
  object-fit: cover;
  display: block;

}
.udvalg-container li h5,
.udvalg-container li .undertekst,
.udvalg-container li .bund-udvalg {
  padding-left: 2rem;
  padding-right: 2rem;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  padding: 4rem 6rem;

}
.footer-left,
.footer-right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer-info {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
  max-width: 500px;
  margin: 0 auto;
}
.footer-right h2 {
  text-align: center;
}
.nyhedsbrev input {
  width: 33%;
  padding: 0.8em 3em 0.8em 0.8em; /* plads til pilen */
  border-radius: 10px;
  border: none;
  background-color: #972a0f;
  
}
.nyhedsbrev input::placeholder{
  color: white;
}

.nyhedsbrev button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background: #ffffff;
  color: #972a0f;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 17.5em;
  transform: translateY(-50%);
  cursor: pointer;
}
.nyhedsbrev .mail-knap p{
  font-size: 1.8em;
  margin: 0 auto;
}
.nyhedsbrev {
  margin-bottom: 1.5rem;
}

.social {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: left;
}

.ikoner {
    display: flex;
    align-items: center;
    gap: 1em;
}

.ikoner img {
    width: 30px;
}

/* Kontakt / tider */
.kontakt,
.Tider {
  margin-top: 0.5rem;
}
.Tider h3 {
    margin-bottom: 0.5em;
}
.kontakt img{
 max-width: 10%;
 padding-right: .6em;
}
.bottum{
  padding: 1em 2em;
}
/* Footer */
 }
 @media (max-width: 768px) {
  .beskrivelse {
    flex-direction: column;
  }
  .desk{
  display: none;
}
body{
  width: 768px;
}
  .footer {
    grid-template-columns: 1fr;
    padding: 3rem 2rem;
  }
}